.btn-details{
  border: none;
  background-color: #FFFFFF;
}

.btn-details:hover{
  background-color: #F5F5F5!important;
}

.blue{
  color: blue;
}

#card {
  margin:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-country-card {
 display:flex;
 justify-content:center; 
}

@media (min-width: 600px){

  #search-input{
    width: 22ch!important;
  }
}